*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-size: 100%;
  font-family: "Inria Serif", serif;
  padding: 0;
  margin: 0;
  background-color: #1a1a1a;
}

a,
a:visited,
a:active {
  color: #08a1e0;
}
